name: Dependency Scanning

on:
  push:
  pull_request:

permissions: read-all

jobs:
  dependency-scanning:
    name: Dependency Scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependency Scanning with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          output: trivy-report.json
          format: json
          severity: 'CRITICAL'
          vuln-type: 'library'
          scanners: 'vuln'
          timeout: '10m'
          scan-ref: .
          exit-code: 1

      - name: Upload Vulnerability Report as Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: trivy-report
          path: trivy-report.json
          retention-days: 1
